.fa-sort:before {
    content: "";
}


@media only screen and (max-width: 700px) {
    .c_overflow_auto{
        overflow: auto;
    }
}

.fast  .toggle-group { transition: left 0.15s; -webkit-transition: left 0.15s; }

td{
    vertical-align: middle!important;
}

.c_delete_all{
    padding: 0;
    background-color: transparent;
    border: none;
}
.c_delete_all:hover{
    padding: 0;
    background-color: transparent;
    border: none;
    color: red!important;
}

.c_delete_all{
    margin-top: 2px;
}

.c_row_update{
    color: white!important;
    background-color: #00c292;
    border-color: #00c292;
}

.c_row_update:hover{
    color: white!important;
    background-color: #00c292;
    border-color: #00c292;
}


.c_row_delete{
    color: white!important;
    background-color: #dc3545;
    border-color: #dc3545;
}

.c_row_delete:hover{
    color: white!important;
    background-color: #dc3545;
    border-color: #dc3545;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #00c292;
    border-color: #00c292;
}

.page-link{
    color: #435466;
}

.page-link:hover{
    background: #435466;
    border-color: #435466;
    color: #fff;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 65px;
}

#left-nav-open {
    margin-top: 11.5px!important;
}

.custom-file-input {
    cursor: pointer;
}

.nav-link{
    color: #323333;
}

.nav-link:hover {
    color: #00c292;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #00c292;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.modal-footer{
    padding-right: 0!important;
}

.modal-footer button{
    margin-right: 0!important;
}

.cke_dialog_ui_hbox_last{
    display: inherit!important;
}

.c_row_update{
    margin-left: 11px;
}

.c_dropzone{
    width: 97.2%;
    margin: 10px auto;
}


.c_update_row_div{
    max-width: 1200px;
    margin: 0 auto;
}

.md-form{
    margin-bottom: 20px;
}


.custom-file{
    margin-bottom: 15px!important;
}

.tab-pane{
    margin-left: 0!important;
    margin-right: 0!important;
}


@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1240px!important;
    }
}


.custom-file-label::after {
    content: "Klikl…ôyin"!important;
}

.c_other_link{
    background-color: #00c292!important;
    border-color: #00c292!important;
}


.c_row_create{
    float: left;
    margin-top: 15px;
    margin-left: 23px;
    margin-bottom: 23px;
}

.btn-success {
    color: #fff;
    background-color: #00c292!important;
    border-color: #00c292!important;
}

.btn-primary {
    color: #fff;
    background-color: #00c292!important;
    border-color: #00c292!important;
}

.dropzone .dz-message {
    margin-top: 65px!important;
}


.c_dropzone {
    min-height: 186px!important;
}

.menu-2 .m-1-span{
    margin-left: 6px;
}

@media only screen and (max-width: 600px){
    #left-nav-open{
        width: 100%;
    }
}

.c_overflow_auto{
    padding: 0 20px;
}



.c_admin_card{
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#login-area{
    border-radius: 10px;
}


.toggle-off {
    top: 1px;
    left: 46%;
}