@charset "utf-8";	
		
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	direction: ltr;
	overflow-x: hidden;
}
body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color: #EEEFF4;
	font-family: Arial, "Helvetica Neue";
	color: #646464;
	font-weight: normal;
	line-height: 1.5;
	font-variant: normal;
	text-align: center;
	text-decoration: none;
	font-style: normal;
	background: url('../img/akw-audit2.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px){
	body{
		background: none !important;
		background-color: #FFF !important;
	}
}

@media only screen and (min-width: 601px) { /* sm */
	#main{
		position: absolute;
		display: block;
		width: 450px;
		min-width: 450px;
		max-width: 450px;
		height: 425px;
		min-height: 425px;
		max-height: 425px;
		margin: 0 auto;
		padding: 0;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #EAEAEA;
	}
}
@media only screen and (max-width: 600px) { /* sm */
	#main {
		position: relative;
		display: block;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		height: 100%;
		min-height: 100%;
		max-height: 100%;
		margin-top: 20px;
	}
}

#logo-area{
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 90px;
	min-height: 90px;
	max-height: 90px;
}
#logo-area img{
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

#login-area{
	position: absolute;
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: calc(100% - 90px);
	min-height: calc(100% - 90px);
	max-height: calc(100% - 90px);
	margin: 0 auto;
	padding: 0;
	background-color: #FFF;	
}



#user-name{
	position: relative;
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	padding-top: 70px;
	padding-bottom: 1px;
	padding-left: 60px;
	overflow: hidden;
	border: none;
	outline: none;
	background-color: #FFF;
	font-style: normal;
	font-variant: normal;
	line-height: 120%;
	color: #646464;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	font-size: 15px;
}
#user-pass{
	position: relative;
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 1px;
	padding-left: 60px;
	overflow: hidden;
	border: none;
	outline: none;
	background-color: #FFF;
	font-style: normal;
	font-variant: normal;
	line-height: 120%;
	color: #646464;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	font-size: 15px;
}

.input-area{
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	padding-left: 60px;
	padding-top: 3px;
	overflow: hidden;
	border: none;
	outline: none;
	background-color: #FFF;
	text-align: left;
	vertical-align: top;
}


.inputs{
	display: block;
	float: left;
	width: calc(100% - 60px);
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	margin: 0 auto;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFF;
	border: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	outline:none;
	font-size: 14px;
	font-style: normal;
	color:#646464;
	font-variant: normal;
	line-height: 120%;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}
.inputs:focus{
	border: 1px solid #999;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.button-area{
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	padding-left: 60px;
	padding-top: 3px;
	overflow: hidden;
	border: none;
	outline: none;
	background-color: #FFF;
	text-align: left;
	vertical-align: top;
}

.button{
	width: calc(100% - 60px);
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	margin: 0 auto;
	padding: 0;
	margin-top: 20px;
	cursor: pointer;
	border: none;
	border: 1px solid #4CAF50;
	outline: none;
	background-color: #4CAF50;
	color: #FFF;
	font-family: Arial, "Helvatica Neue", Helvatica, sans-serif;
	font-style: normal;
	font-variant: normal;
	line-height: 100%;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	border-radius: 3px;
}

.button:hover{
	border: 1px solid #1B4C1D;
	border-radius: 3px;
}

.button:active{
	border: 1px solid #4CAF50;
	background-color: #1B4C1D;
}